// Above footer scss
footer.entry-above-footer{
  background-color: $above-footer-bg !important;
  padding: 50px 0 65px;
}

.related_posted_in {
  a {
    text-decoration: none;
    font-weight: 600;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

div.card-body span#related-post-excerpt p {
  color: #7d7d7d;
}

div#author-desc-wrap span#author-descmeta {
  font-weight: 700; 
  color: $cyan;
}

.author-desc-meta {
  font-size: 12px;
  font-weight: 400;
}


span#author-des {
  text-align: center;
  margin-top: 2px;
}


@media screen and (min-width: 767px) {
    span#author-des{
    text-align: left;
  }
}

#related-post-excerpt {
  font-size: 14px;
}

/*
  Comment section
  ------------------------------------------------
*/


h5#comment {
  font-size: 4vmin;
  text-align: center;
  font-size: 20px;
  span.comment-list-title {
     font-weight: 600;
  }
 
}

.comments-area {
  color: #656c7a;
}

.comment-list {
  padding: 0;
  margin-right: -45px;
  margin-left: -45px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .comment-list {
      margin-right: -30;
      margin-left: -30;
  }
}

@media screen and (min-width: 1025px) {
  .comment-list {
      margin-right: 0;
      margin-left: 0;
  }
}

.comment-body {
  padding: 10px;
  margin: 10px;
}

.children {
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  margin-left: 60px;
  cite.fn {
    color: $gray-900;
  }

  span.says {
    color: $gray-900;
    font-weight: 300;
  }
  //border: 1px solid #dbdfe4;

  .comment-author {
    &:before {
      background-color: #fff;
    }
  }

}

.comment-author {

  position: relative;
  display: block;
  font-size: 3vmin;
  font-weight: 300;
  color: $white;

  cite.fn {
    font-weight: 800;
     font-style: normal;
  }

  span.says {

  }

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 13px;
    left: 40px;
    right: 0;
    background-color: $cyan;
    z-index: 1;
    padding: 15px;
    border-radius: 4px;
  }

  & * {
    z-index: 1;
    position: relative;
  }

  b {
    //font-weight: 400;
  }

  .avatar {
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #fff;
  }

}

div.commentmetadata.comment-meta, .comment-metadata  {
  text-align: right;
  text-transform: uppercase;
  margin-top: 6px;
  font-size: 12px;

  a {
    color: #999;
  }

}

ol.comment-list {
  p {
    padding: 2px 0 13px 0;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #E6E6E6;
    margin-left: 60px;
  }
}

.reply {
  text-align: right;
  padding: 5px 0;
}

a.comment-reply-link {
  text-transform: uppercase;
  color: $teal;

    &:hover,
    &:focus {
      color: $teal;
    }
}

.comment-respond {
  margin-top: 60px;
}


div#comment-nav-link {
  a {
      font-size: 15px;
      font-weight: 600;
      color: $gray-900;
  }
}


// Styling for the footer
div.footer {
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
}


// social footer icons styles

div#footer-social-follow > .widget.zoom-social-icons-widget {

   h2.widget-title{
    text-align: center !important;
    font-weight: 700;
    display: block;
    font-size: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
    background: transparent;
  }

  p {
   margin: -11px 0 6px 0;
   text-align: center !important;
  }
}
