// Global styling for this template
body {
  font-size: 20px;
  color: $gray-500;
  @include serif-font;

    &.no-scroll {
    overflow-y: hidden;
  }  
}

p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  @include sans-serif-font;
}

a {
  color: $gray-900;
  @include transition-all;
  &:focus,
  &:hover {
    color: $primary;
  }
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
    font-size: 85%;
}


blockquote {
  font-style: italic;
  font-size: 17.5px;
  color: $gray-600;
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;

    p:last-child {
    margin: 0 !important;
  }
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.btn-post-nav {
  a {
    color: $white;

    &:hover {
      text-decoration: none;
      color: $white !important;
    }
  }
}

// sidebar styling
div.sidebar-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 9;
  cursor: pointer;
  display: none;
}

.sidebar-scroll {
  position: relative;
  display: block;
  overflow-x: hidden;
  overflow-y:scroll;
}

// cleanblogger profile box
div.cleanblogger-sidebar-wrap {
  width: 280px; padding: 20px; background-color: transparent; text-align: center;
}

.cleanblogger-sidebar-wrap > .cleanblogger-sidebar-content > h1 {
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
}

.cleanblogger-sidebar-wrap > .cleanblogger-sidebar-content > h2 {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.05em;
}

.profile-piture-content {
  margin: 20px auto;
  height: 122px;
  width: 122px;
  overflow: hidden;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

a.sidebar-close {
  #close-icon {
    z-index: 999999999999999999999999999;
  }
}

//widgets section proper
section.widget {
  margin: 20px 0 50px;
  padding: 0 20px;
}

h2.widget-title {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  background-color: #303030;
  padding: 8px;
  line-height: 1em;
  letter-spacing: 0.2px;
  border-radius: 2px;
  margin-bottom: 20px;
}

//tagcloud
.tagcloud {
  a {
    display: inline-block;
    background-color: #7d7d7d;
    padding: 1px 9px;
    border-radius: 4px;
    color: #eeeeee;
    text-align: center;
  }
}

// Categories Widget
.cat-item {
  position: relative;
  list-style: none;
  margin-left: -39px;
  a,
  span {
    display: block;
    line-height: 1em;
  }

  a {
    padding: 4px 0;
  }

  span {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 7px 5px;
    background-color: #7D7D7D;
    border-radius: 10px;
  }

}

// Comments Widget
.widget_recent_entries {

  li {
    list-style: none;
    margin-left: -39px;
  }

  font-size: 10px;
  color: #ccc;

  a {
    text-transform: uppercase;
  }

  span {

    &,
    & a {

      display: block;
      color: #fff;
      font-size: 14px;
      padding-bottom: 4px;
      margin-bottom: 2px;
      border-bottom: 1px solid rgba(255,255,255,0.06);
      text-transform: none;

    }
  }

}