// Styling for the masthead
header.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #dd9933;
  background-attachment: fixed;
  height:520px;
  position: relative;
  @include background-cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.65;
  } 
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 200px 0 150px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 200px 0;
    }
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      @include sans-serif-font;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      @include sans-serif-font;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include serif-font;
      a {
        color: $white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}



/*
  Sidebar section
  ------------------------------------------------
*/

.cleanblogger-sidebar {
  position: fixed;
  color: #ffffff;
  z-index: 9999999999999999999999999;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1F1F1F;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  @include animate( transform, 320ms );

  &.sidebar-closed {
   @include transform( translateX( 100% ) );
  }

  a {
    color: #bababa;

    &:hover,
    &:focus {
      color: #fff;
    }

  }
}

.sidebar-open,
.sidebar-close {
  top: 0;
  left: 10px;
  cursor: pointer;

  i {
    color: $black;

    &:hover,
    &:focus {
      color: $cyan;
    }
  }
 
}

.sidebar-close {
  i {
    color: $white;
  }
}

 @media only screen and (min-width: 992px) {
    .sidebar-open,
    .sidebar-close {
      top: 0;
      left: 10px;
      cursor: pointer;

      i {
        color: $white;

        &:hover,
        &:focus {
          color: $cyan;
        }
      }
     
    }
  }


.sidebar-scroll {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebar-open {
  left: auto;
  right: 20px;
  top: 20px;
  font-size: 14px;
}

.mobile-menu {
  margin-right: 40px;
}
