// Styling for the post page
.post-preview {
  > a {
    color: $gray-900;
    &:focus,
    &:hover {
      text-decoration: none;
      color: $primary;
    }
    > .post-title {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    > .post-subtitle {
      font-weight: 300;
      margin: 0 0 10px; 
    }
  }
  > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;
    > a {
      text-decoration: none;
      color: $gray-900;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}


// my custom scss
.post-link-nav {
  a {
    font-size: 12px;
    color: $white;

    &:hover{
      text-decoration: none;
      font-size: 14px;
    }
  }

}


div.author-meta {
  span.author-desc  {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 16px;
  }
}


div.cleanblogger-post-footer-wrap {
  font-size: 19px;
  font-weight: 700;

  .cleanblogger-post-tags-list {
    text-transform: uppercase;
  }
}

.popover-body {
  border-radius: 5px;

  span {
    font-weight: 700;
    font-size: 16px;
  }
}


p {
    span.cleanblogger-popover {
      background-color: $tooltip-info;
      text-decoration: none;
      cursor: pointer;
      //color: $tooltip-color;
      padding: 1px;
      
  }
}

span.cleanblogger-popover {
      background-color: $tooltip-info;
      text-decoration: none;
      cursor: pointer;
      //color: $tooltip-color;
      padding: 1px;
}

// Ajax loading scss

a.btn-infinite-loop {
  width: 220px;
  color: $orange;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
  // animate code here
  


  &:hover,
  &:focus,
  &.loading {
    opacity: 1;
  }

  &.loading {
    cursor: default;
  }

  span {
    display: block;
  }

  i {
    display: block;
  }
}


// Ajax 

.infinite-loop-posts {
    article {
    @include animate( all, 320ms );
    @include transform( translateY(100px) );
    opacity: 0;

    &.reveal {
      @include transform( translateY(0) );
      opacity: 1;
    }

  }
}