/**
 * ===========================================
 * 	Cleanblogger admin sidebar styles
 * ============================================
 */


div.cleanblogger-sidebar-wrap {
	width: 280px; padding: 20px; background-color: #1f1f1f; text-align: center;
}

.cleanblogger-sidebar-wrap > .cleanblogger-sidebar-content > h1 {
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
}

.cleanblogger-sidebar-wrap > .cleanblogger-sidebar-content > h2 {
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
}

.profile-piture-content {
	margin: 20px auto;
	height: 122px;
	width: 122px;
	overflow: hidden;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}